In [33]:
# Vinayaksb
students = {
    'John': [85, 90, 80],
    'Emma': [78, 88, 84],
    'Alex': [92, 76, 88]
}
print("Student Data:", students)

Student Data: {'John': [85, 90, 80], 'Emma': [78, 88, 84], 'Alex': [92, 76, 88]}